<ion-header>

  <ion-navbar mode="ios" hideBackButton>
    <ion-title text-center>Política pública LGBTI</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="icon-fleacha-atras"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <div class="banner">
      <p class="bannerTitle">trabajo y fortalecimiento de capacidades</p>
      <p class="bannerContent">Aquí puedes encontrar oferta para el acceso al trabajo o el fortalecimiento a tus capacidades para acceder a empleo</p>
  </div>



    <ion-list class="accordion-list">

        <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>

          <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon item-right name="ios-arrow-down" *ngIf="!item.open"></ion-icon>
            <ion-icon item-right name="ios-arrow-up" *ngIf="item.open"></ion-icon>
              <p>{{ item.name }}</p>
          </button>

          <ion-list *ngIf="item.children && item.open" no-lines>

            <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>

                <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
                    <h2>{{ child.information }}</h2>
                    <p>{{ child.description }}</p>
                    <p>Teléfono: </p>
                    <p>{{ child.phone }}</p>
                    <p *ngIf="child.address">Dirección: </p>
                    <p *ngIf="child.address">{{ child.address }}</p>
                    <p>Sitio web: </p>
                    <p><a (click)="goToWebPage(child.web)">{{ child.web }}</a></p>
                    <p>Ubicación: </p>
                    <p>{{ child.address }}</p>
                </ion-item>

            </ion-list-header>

        </ion-list>



    </ion-list-header>

    <div *ngIf="!footer" class="bottomLine">

    </div>

  </ion-list>


</ion-content>

<ion-footer *ngIf="footer">
  <div class="bottomLine">
  </div>
</ion-footer>
