<!--
  Generated template for the ListadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar mode="ios" hideBackButton>
    <ion-title text-center>{{title}}</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="icon-fleacha-atras"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <div class="divButSec">
    <button [ngClass]="{'lineEvents': evento == true }" (click)="changeSectionEvents()" class="buttonSection buttonEvents">EVENTOS</button>
    <button [ngClass]="{'lineNews': noticia == true }" (click)="changeSectionNews()" class="buttonSection buttonNews">NOTICIAS</button>
  </div>

  <p class="month">{{ monthTitle }}, {{yearTitle}}</p>

</ion-header>

<ion-content padding >


  <div class="not-event-box" *ngIf="evento && events.length===0">
    <p class="not-event-text">No hay eventos disponibles</p>
  </div>

  <div class="not-event-box" *ngIf="noticia && news.length===0">
      <p class="not-event-text">No hay noticias disponibles</p>
  </div>


  <div *ngIf="evento && events.length > 0" >
    <div *ngFor="let event of events" (click)="goToDetails(event)">
      <div class="article">
        <img [src]="api + event.image" alt="event images">
        <ion-row class="articleContent">

          <ion-col col-11 class="articleText">
            <p class="titleArticle">{{event.title}}</p>
            <p class="dateArticle">Del {{event.start_date | date:'dd MMMM':'':'es'}}
              al {{event.finish_date | date:'longDate':'':'es'}}
            </p>
            <p class="placeArticle">{{event.place}}</p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div *ngIf="noticia && news.length > 0" >
    <div *ngFor="let _new of news" id="new1" (click)="goToDetails(_new)">
      <div class="news">
          <img [src]="api + _new.image" alt="news image">
          <ion-row class="articleContent">
            <ion-col col-12 class="articleDateNews">
              <p>{{_new.date | date:'longDate':'':'es'}}</p>
            </ion-col>
            <ion-col col-12 class="articleTextNews">
              <p id="articleHeaderNews">{{_new.title}}</p>
              <p>{{_new.description}}</p>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>


</ion-content>
