page-listado {
  ion-title {
    text-transform: uppercase;
  }

  ion-content,
  .scroll-content {
    padding: 0 !important;
  }

  .toolbar-background {
    background-color: #ff5c0b;
  }

  .bar-button-default,
  .toolbar-title {
    color: white !important;
  }

  .scroll-content {
    img {
      width: 100%;
    }
  }

  .divButSec {
      background-color: #ff5c0b;
  }

  .buttonSection {
      background-color: #ff5c0b;
      color: white;
      margin: 1vh 8vh;
  }

  .month {
    height: 7vh;
    background-color: #ce4908;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: white;
      margin: 0;
      font-weight: bold;
    }
  }

  .article {
    .articleDate {
        display: flex;
        justify-content: center;
        align-items: center;

        p{
          text-align: center;
        }
    }

    .articleText{
      padding: 1% 3%;

      .dateArticle{
          color: #797979;
          font-weight: 600;
          margin-left: 1%;
      }

      .titleArticle {
        font-size: 2.3rem;
        font-weight: bold;
        margin: 5% 1%;
      }

    }

    .articleText:before {
            background-color: #bdbdbda3;
            content: '';
            height: 88%;
            left: 1px;
            position: absolute;
            top: 7%;
            width: 1px;
         }


  }

  .news {
    display: block;
  }

  .articleDateNews {
    padding: 0vh 5vh;
    p {
      margin: 1.5vh 0vh;
      font-weight: 600;
      font-size: 0.9em;
      color: #9e9e9e;
    }
  }

  .articleTextNews {
    padding: 0vh 5vh;
    p {
      margin: 1vh 0vh;
      font-weight: 400;
      color: #6d6f76;
      line-height: 1.5em;
    }
    #articleHeaderNews {
      margin: 0vh;
      font-weight: 800;
      font-size: 1.3em;
      color: #1e1a42;
      line-height: 1.3em;
    }
  }
}
