<!--
  Generated template for the ListadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>EVENTOS Y NOTICIAS</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="icon-fleacha-atras"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="divButSec">
    <button (click)="changeSectionEvents()" class="buttonSection">EVENTOS</button>
    <button (click)="changeSectionNews()" class="buttonSection">NOTICIAS</button>
  </div>

</ion-header>

<ion-content padding>

  <div class="month">
    <p>Agosto, 2018</p>
  </div>
  <div *ngIf="evento">
    <div class="article">
      <img src="../assets/imgs/home.png">
      <ion-row class="articleContent">
        <ion-col col-2 class="articleDate">
          <p>26 DOM</p>
        </ion-col>
        <ion-col col-10 class="articleText">
          <p class="titleArticle">Ciclo Rosa 2018 - Muestras audiovisuales</p>
          <p class="dateArticle">2:00 P.M. - 5:00 A.M.<p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="noticia">
    <div class="news">
      <img src="../assets/imgs/home2.png">
      <ion-row class="articleContent">
        <ion-col col-12 class="articleDateNews">
          <p>03 SEPTIEMBRE 2018 - 12:00PM </p>
        </ion-col>
        <ion-col col-12 class="articleTextNews">
          <p id="articleHeaderNews">'Huellas Diversas': Robinson Chaparro y la causa LGBTI en Guaviare</p>
          <p>Nacido y criado en San José del Guaviare; Robinson Chaparro vivió pensando que era normal esconderse
            cuando atacaban ...</p>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>
