page-listado {
  .toolbar-title.toolbar-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.24rem;
  }

  ion-content,
  .scroll-content {
    padding: 0 !important;
  }

  .toolbar-background {
    background-color: #ff5c0b;
  }

  .bar-button-default,
  .toolbar-title {
    color: white !important;
  }


  .scroll-content {

.article{
      margin: -1px;
      position: relative;
      img {
          margin-top: -3px;
          width: 100%;
          border: none !important;
          border-style: none !important;
          box-shadow: none !important;
          -moz-box-shadow: none!important;
          -webkit-box-shadow: none!important;
      }
    }

  }

  .divButSec {
    height: 8vh;
    background-color: #ff5c0b;
    display: flex;
    border-top: 1px solid #db4f0a;
  }

  .buttonSection {
    background-color: #ff5c0b;
    padding: 0;
    font-weight: 800;
    line-height: normal;
    font-size: 1.24rem;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(0, 0, 0, 0.3);
    margin: 0;
    width: 50%;
  }
  .lineEvents,  .lineNews {
    color: white;
  }
  .buttonNews {
    position: relative;
  }

  .buttonNews:before {
    background-color: #db4f0a;
    content: '';
    height: 60%;
    left: -1px;
    position: absolute;
    top: 20%;
    width: 1px;
  }

  .buttonEvents {
    position: relative;
  }

  .lineEvents:before {
    background-color: white;
    content: '';
    width: 35%;
    bottom: 0px;
    position: absolute;
    left: 32%;
    height: 3px;
  }

  .lineNews:after {
    background-color: white;
    content: '';
    width: 35%;
    bottom: 0px;
    position: absolute;
    left: 32%;
    height: 3px;
  }

  .month {
    height: 5.5vh;
    background-color: #db4f0a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    font-weight: bold;
  }

  .article {
    .articleDate {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
      }
    }

    .articleText {
      padding: 2% 0% 7% 7%;;
      p{
        margin: 0;
      }

      .dateArticle {
        color: #F8774E;
        font-weight: 600;
        padding-top: 1%;
        margin-left: 1%;
      }

      .titleArticle {
        font-size: 2.3rem;
        font-weight: bold;
        margin: 1% 1%;
      }
      .placeArticle {
        color: #797979;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 1% 1%;
      }
    }

    .articleText:before {
      background-color: #bdbdbda3;
      content: '';
      height: 88%;
      left: 0px;
      position: absolute;
      top: 7%;
      width: 1px;
    }
  }

  .article:before, .news:before{
    background-color: #FF5C0B;
    content: '';
    width: 100%;
    position: absolute;
    height: 1vh;
  }

  .article:before, .news:before{
    bottom: 2px;
  }

  .news:before{
    bottom: 1px;
  }

  .news {
    margin: -1px;
    display: block;
    position: relative;
    img {
      width: 100%;
    }
  }

  .articleDateNews {
    padding: 0vh 5vh;
    p {
      margin: 1.3vh 0vh;
      font-weight: 600;
      font-size: 1.1rem;
      color: #9e9e9e;
    }
  }

  .articleTextNews {
    padding: 0vh 5vh 3vh 5vh;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 1vh 0vh;
      font-weight: 400;
      color: #6d6f76;
      line-height: 1.5em;
      font-size: 1.4rem;
    }
    #articleHeaderNews {
      margin: 0vh;
      font-weight: 800;
      font-size: 1.3em;
      color: #1e1a42;
      line-height: 1.3em;
    }
  }
}
