<!--
  Generated template for the ListadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar mode="ios" hideBackButton>
    <ion-title text-center>{{title}}</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="icon-fleacha-atras"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <div class="divButSec">
    <button [ngClass]="{'lineEvents': evento == true }" (click)="changeSectionEvents()" class="buttonSection buttonEvents">EVENTOS</button>
    <button [ngClass]="{'lineNews': noticia == true }" (click)="changeSectionNews()" class="buttonSection buttonNews">NOTICIAS</button>
  </div>

  <p class="month">{{monthTitle}}, 2018</p>

</ion-header>

<ion-content padding>

  <div *ngIf="evento" (click)="goToDetails()">
    <div *ngFor="let event of events">
      <div class="article">
        <img src="../assets/imgs/home.png">
        <ion-row class="articleContent">

          <ion-col col-11 id="new1" class="articleText">
            <p class="titleArticle">{{event.title}}</p>
            <p class="dateArticle">{{event.start_date}}</p>
            <p class="placeArticle">{{event.place}}</p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div *ngIf="evento" (click)="goToDetails()">
    <div class="article">
      <img src="../assets/imgs/home.png">
      <ion-row class="articleContent">

        <ion-col col-11 id="new1" class="articleText">
          <p class="titleArticle">{{newsTitle[0]}}</p>
          <p class="dateArticle">{{newsDuration[0]}}</p>
          <p class="placeArticle">{{newsPlace[0]}}</p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="evento" (click)="goToDetails()">
    <div class="article">
      <img src="../assets/imgs/home.png">
      <ion-row class="articleContent">

        <ion-col col-11 id="new2" class="articleText">
          <p class="titleArticle">{{newsTitle[1]}}</p>
          <p class="dateArticle">{{newsDuration[1]}}<p>
              <p class="placeArticle">{{newsPlace[1]}}<p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="evento" (click)="goToDetails()">
    <div class="article">
      <img src="../assets/imgs/home.png">
      <ion-row class="articleContent">

        <ion-col col-11 id="new3" class="articleText">
          <p class="titleArticle">{{newsTitle[2]}}</p>
          <p class="dateArticle">{{newsDuration[2]}}<p>
              <p class="placeArticle">{{newsPlace[2]}}<p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="evento" (click)="goToDetails()">
    <div class="article">
      <img src="../assets/imgs/home.png">
      <ion-row class="articleContent">

        <ion-col col-11 id="new4" class="articleText">
          <p class="titleArticle">{{newsTitle[3]}}</p>
          <p class="dateArticle">{{newsDuration[3]}}<p>
              <p class="placeArticle">{{newsPlace[3]}}<p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="noticia" (click)="goToDetails()">
    <div class="news">
      <img src="../assets/imgs/home2.png">
      <ion-row class="articleContent">
        <ion-col col-12 class="articleDateNews">
          <p>03 SEPTIEMBRE 2018 - 12:00PM </p>
        </ion-col>
        <ion-col col-12 class="articleTextNews">
          <p id="articleHeaderNews">'Huellas Diversas': Robinson Chaparro y la causa LGBTI en Guaviare</p>
          <p>Nacido y criado en San José del Guaviare; Robinson Chaparro vivió pensando que era normal esconderse
            cuando atacaban ...</p>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>
