<ion-header no-border>

  <ion-navbar mode="ios" hideBackButton>
    <ion-title text-center>canales de denuncia</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="icon-fleacha-atras"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content #content padding>

  <p class="steps">paso 2 de 2</p>

  <p class="title">Descripción del suceso</p>

  <form [formGroup]="denunciaForm">

    <ion-item>
        <ion-label stacked [ngClass]="{'error-text': ((denunciaForm.get('date').hasError(validation_messages.date['0']['type'])) && (denunciaForm.get('date').dirty || denunciaForm.get('date').touched)) == true }">Fecha del suceso</ion-label>
          <ion-datetime displayFormat="D/M/YYYY" pickerFormat="D/M/YYYY" doneText="ACEPTAR" cancelText="CANCELAR" [ngClass]="{'error-box': ((denunciaForm.get('date').hasError(validation_messages.date['0']['type'])) && (denunciaForm.get('date').dirty || denunciaForm.get('date').touched)) == true }" displayFormat="MM/DD/YYYY" formControlName="date" placeholder="Fecha del suceso"></ion-datetime>
  </ion-item>

    <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.date" >
      <div class="error-message" *ngIf="denunciaForm.get('date').hasError(validation.type) && (denunciaForm.get('date').dirty || denunciaForm.get('date').touched)">
    {{ validation.message }}
      </div>
      <div class="error-message" *ngIf="denunciaForm.get('date').hasError(validation.pattern) && (denunciaForm.get('date').dirty || denunciaForm.get('date').touched)">
    {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <ion-item>
      <ion-label stacked [ngClass]="{'error-text': ((denunciaForm.get('place').hasError(validation_messages.place['0']['type'])) && (denunciaForm.get('place').dirty || denunciaForm.get('place').touched)) == true }">Lugar del suceso</ion-label>
      <ion-input [ngClass]="{'error-box': ((denunciaForm.get('place').hasError(validation_messages.place['0']['type'])) && (denunciaForm.get('place').dirty || denunciaForm.get('place').touched)) == true }" formControlName="place" type="text" placeholder="Lugar del suceso"></ion-input>
</ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.place" >
    <div class="error-message" *ngIf="denunciaForm.get('place').hasError(validation.type) && (denunciaForm.get('place').dirty || denunciaForm.get('place').touched)">
  {{ validation.message }}
    </div>
    <div class="error-message" *ngIf="denunciaForm.get('place').hasError(validation.pattern) && (denunciaForm.get('place').dirty || denunciaForm.get('place').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
</div>

<ion-item>
    <ion-label stacked [ngClass]="{'error-text': ((denunciaForm.get('description').hasError(validation_messages.description['0']['type'])) && (denunciaForm.get('description').dirty || denunciaForm.get('description').touched)) == true }">Descripción de la situación de discriminación</ion-label>
    <ion-textarea [ngClass]="{'error-box': ((denunciaForm.get('description').hasError(validation_messages.description['0']['type'])) && (denunciaForm.get('description').dirty || denunciaForm.get('description').touched)) == true }" formControlName="description" type="text" placeholder="Descripción de la situación de discriminación"></ion-textarea>
</ion-item>

<div class="validation-errors">
<ng-container *ngFor="let validation of validation_messages.description" >
  <div class="error-message" *ngIf="denunciaForm.get('description').hasError(validation.type) && (denunciaForm.get('description').dirty || denunciaForm.get('description').touched)">
{{ validation.message }}
  </div>
  <div class="error-message" *ngIf="denunciaForm.get('description').hasError(validation.pattern) && (denunciaForm.get('description').dirty || denunciaForm.get('description').touched)">
{{ validation.message }}
  </div>
</ng-container>
</div>

  <ion-row class="terms-condiction-section" [ngClass]="{'mb-5': !isButtonOn }">
    <ion-col col-2>
        <ion-checkbox formControlName="checkBox" (ionChange)="isCheckBoxPressed()" color="danger"></ion-checkbox>
    </ion-col>
    <ion-col col-10 class="col-text-section">
        <ion-label text-wrap class="text-box">
            Debe aceptar los <a (click)="goToTermsAndConditions()">términos y condiciones</a> para enviar el formulario. Sólo pueden participar mayores de edad.
        </ion-label>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="isButtonOn">
    <ion-col text-center class="buttonData">
      <button ion-button block class="sendButton" (click)="sendData()">
        Enviar denuncia
      </button>
    </ion-col>
  </ion-row>

</form>

  <div class="bottomLine">

  </div>

</ion-content>

<div class="modalMax" *ngIf="modalWindow">
  <div class="innerWindow">
      <ion-icon name="checkmark-circle"></ion-icon>
    <p class="title">¡Tu denuncia se ha enviado con éxito!</p>
    <p class="text">Muchas gracias. Denunciando nos ayudas a hacer de Bogotá un lugar mejor para todos.</p>
    <button ion-button block class="goHomeButton" (click)="closeData()">
      volver al inicio
    </button>
  </div>
</div>

<div class="modalMax" *ngIf="modalWindow2">
  <div class="innerWindow">
    <ion-icon class="red" name="warning"></ion-icon>
    <p class="title">Tu denuncia no pudo ser procesada.</p>
    <p class="text">Enviaste informacion incorrecta o nuestros servidores no estan funcionando.</p>
    <button ion-button block class="goHomeButton" (click)="closeData2()">
      Cerrar
    </button>
  </div>
</div>
