<ion-header>

  <ion-navbar mode="ios" hideBackButton>
    <ion-title text-center>canales de denuncia</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="icon-fleacha-atras"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

  <div class="banner">
    <p class="bannerTitle">Aquí puedes denunciar</p>
  </div>

  <div class="sections">

    <ion-row class="title">
        <ion-col>
          <p class="sectionTitle">Denuncia cualquier forma de discriminación o violencia</p>
        </ion-col>
    </ion-row>
    <ion-row class="list">
          <p class="denunciaText">Aquí hay algunos ejemplos de discriminación y violencia que puedes denunciar:</p>
    </ion-row>

    <ion-list class="accordion-list">

        <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>

          <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon item-left name='{{item.icon}}'></ion-icon>
            <ion-icon item-right name="ios-arrow-down" *ngIf="!item.open"></ion-icon>
            <ion-icon item-right name="ios-arrow-up" *ngIf="item.open"></ion-icon>
              <p>{{ item.name }}</p>
          </button>

          <ion-list *ngIf="item.children && item.open" no-lines>

            <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>

                <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
                    <p>{{ child.information1 }}</p>
                    <p>{{ child.information2 }}</p>
                    <p *ngIf="child.information3">{{ child.information3 }}</p>
                    <p *ngIf="child.information4">{{ child.information4 }}</p>
                    <p *ngIf="child.information5">{{ child.information5 }}</p>
                    <p *ngIf="child.information6">{{ child.information6 }}</p>
                </ion-item>

            </ion-list-header>

        </ion-list>

      </ion-list-header>

    </ion-list>

    <ion-row class="formButton">
        <button ion-button class="denunciaButton" (click)="goToFormDenuncia()">Ir al formulario de denuncia</button>
    </ion-row>

    <div class="bottomLine">

    </div>

  </div>

</ion-content>
