page-discriminacion {
  .toolbar-title.toolbar-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.24rem;
  }

  ion-title.title.title-md, ion-title.title.title-ios{
    padding: 0 75px 1px !important;
  }

  .toolbar{
    .icon{
      color: white !important;
    }
  }

  ion-content,
  .scroll-content {
    padding: 0 !important;
  }

  .toolbar-background {
    background-color: #E20C57;
  }

  .bar-button-default,
  .toolbar-title {
      color: #FF9CBF !important;
  }
  .scroll-content{
    background-color: #E20C57;
  }

    .banner{
      background-color: #E20C57;
      position: relative;
      height: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;

      ion-icon{
        font-size: 4.4rem;
      }

      .bannerTitle{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2rem;
        margin: 0 15%;
        text-align: center;
      }

      .bannerContent{
        text-align: center;
        margin:0 10%;
        color: #FF9CBF;
        font-size: 1.45rem;
      }
    }

    .sections{
      position: relative;
      border-top-left-radius: 8% 8%;
      border-top-right-radius: 8% 8%;
      background-color: white;
      height: 100%;
      .title{
        font-weight: bold;
        color: #1E1A42;
        display: flex;
        justify-content: stretch;
        align-items: center;
        padding-top: 8%;
        .icon{
            text-align: center;
            font-size: 2rem;
        }
        .sectionTitle{
            font-size: 1.8rem;
            margin-bottom: 0%;
        }
      }
      .list {
        p{
          color: #727689;
          font-size: 1.45rem;
          span{
          color: #E55C75;
          margin-right: 2%;
          font-weight: bold;
          }

      }
      .denunciaText{
        padding-top: 3%;
        line-height: 3.8vh;
        color: #727689;
        font-size: 1.45rem;
      }
    }
  }
  @media (max-height: 500px){
    .sections{
          height: 140%;
    }
  }

  @media (min-height: 501px) and (max-height: 600px){
    .sections{
          height: 120%;
    }
  }

  @media (min-height: 601px) and (max-height: 700px){
    .sections{
          height: 95%;
    }
  }

  @media (min-height: 701px) and (min-height: 825px){
      .sections{
          height: 75%;
      }
  }

    .bottomLine{
      height: 0vh;
      width: 100%;
      position: relative;
    }

  .formButton{
      padding: 5% 0%;
      display: flex;
      justify-content: center;
      .denunciaButton{
        background-color: #FC236F;
        text-transform: initial;
        font-size: 1.8rem;
        font-weight: bold;
        height: 6rem;
        width: 85%;
      }
  }

  .bottomLine:before {
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    height: 5px;
    content: '';
    bottom: -1px;
    right: 0;
    left: 0;
    position: absolute;
  }

}
