<ion-header no-border>

  <ion-navbar mode="ios" hideBackButton>
    <ion-title text-center>datos personales</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="icon-fleacha-atras"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content  #content padding>

  <p class="title">Datos personales</p>

  <form [formGroup]="credentialsForm">

  <ion-item>
    <ion-label stacked [ngClass]="{'error-text': (credentialsForm.get('documentType').hasError(validation_messages.documentType['0']['type']) && (credentialsForm.get('documentType').dirty || credentialsForm.get('documentType').touched)) == true }">Tipo de documento de identidad</ion-label>
    <ion-select okText="OK" cancelText="CANCELAR" [ngClass]="{'error-box': (credentialsForm.get('documentType').hasError(validation_messages.documentType['0']['type']) && (credentialsForm.get('documentType').dirty || credentialsForm.get('documentType').touched))}" formControlName="documentType" type="text" placeholder="Tipo de documento de identidad">
      <!--<ion-option value="TI">Tarjeta de identidad</ion-option>-->
      <ion-option value="CC">Cedula de ciudadanía</ion-option>
      <ion-option value="CE">Cedula de extranjería</ion-option>
      <ion-option value="PP">Pasaporte</ion-option>
    </ion-select>
  </ion-item>

  <div class="validation-errors">
	<ng-container *ngFor="let validation of validation_messages.documentType" >
		<div class="error-message" *ngIf="credentialsForm.get('documentType').hasError(validation.type) && (credentialsForm.get('documentType').dirty || credentialsForm.get('documentType').touched)">
	{{ validation.message }}
		</div>
	</ng-container>
</div>

<ion-item>
  <ion-label stacked [ngClass]="{'error-text': (credentialsForm.get('documentNumber').hasError(validation_messages.documentNumber['0']['type']) && (credentialsForm.get('documentNumber').dirty || credentialsForm.get('documentNumber').touched)) == true }">Número de documento</ion-label>
  <ion-input [ngClass]="{'error-box': (credentialsForm.get('documentNumber').hasError(validation_messages.documentNumber['0']['type']) && (credentialsForm.get('documentNumber').dirty || credentialsForm.get('documentNumber').touched)) == true }" formControlName="documentNumber" type="text" placeholder="Número de documento"></ion-input>
</ion-item>

  <div class="validation-errors">
	<ng-container *ngFor="let validation of validation_messages.documentNumber" >
		<div class="error-message" *ngIf="credentialsForm.get('documentNumber').hasError(validation.type) && (credentialsForm.get('documentNumber').dirty || credentialsForm.get('documentNumber').touched)">
	{{ validation.message }}
		</div>
	</ng-container>
</div>

<ion-item>
  <ion-label stacked [ngClass]="{'error-text': ((credentialsForm.get('firstName').hasError(this.validation_messages.firstName['1']['type']) || (credentialsForm.get('firstName').hasError(validation_messages.firstName['0']['type']))) && (credentialsForm.get('firstName').dirty || credentialsForm.get('firstName').touched)) == true }">Nombres</ion-label>
  <ion-input [ngClass]="{'error-box': ((credentialsForm.get('firstName').hasError(this.validation_messages.firstName['1']['type']) || (credentialsForm.get('firstName').hasError(validation_messages.firstName['0']['type']))) && (credentialsForm.get('firstName').dirty || credentialsForm.get('firstName').touched)) == true }" formControlName="firstName" type="text" placeholder="Nombres"></ion-input>
</ion-item>

  <div class="validation-errors">
	<ng-container *ngFor="let validation of validation_messages.firstName" >
		<div class="error-message" *ngIf="credentialsForm.get('firstName').hasError(validation.type) && (credentialsForm.get('firstName').dirty || credentialsForm.get('firstName').touched)">
	{{ validation.message }}
		</div>
    <div class="error-message" *ngIf="credentialsForm.get('firstName').hasError(validation.pattern) && (credentialsForm.get('firstName').dirty || credentialsForm.get('firstName').touched)">
  {{ validation.message }}
    </div>
	</ng-container>
</div>

  <ion-item>
    <ion-label stacked [ngClass]="{'error-text': ((credentialsForm.get('lastName').hasError(this.validation_messages.lastName['1']['type']) || (credentialsForm.get('lastName').hasError(validation_messages.lastName['0']['type']))) && (credentialsForm.get('lastName').dirty || credentialsForm.get('lastName').touched)) == true }">Apellidos</ion-label>
    <ion-input [ngClass]="{'error-box': ((credentialsForm.get('lastName').hasError(this.validation_messages.lastName['1']['type']) || (credentialsForm.get('lastName').hasError(validation_messages.lastName['0']['type']))) && (credentialsForm.get('lastName').dirty || credentialsForm.get('lastName').touched)) == true }" formControlName="lastName" type="text" placeholder="Apellidos"></ion-input>
  </ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.lastName" >
    <div class="error-message" *ngIf="credentialsForm.get('lastName').hasError(validation.type) && (credentialsForm.get('lastName').dirty || credentialsForm.get('lastName').touched)">
  {{ validation.message }}
    </div>
    <div class="error-message" *ngIf="credentialsForm.get('lastName').hasError(validation.pattern) && (credentialsForm.get('lastName').dirty || credentialsForm.get('lastName').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked [ngClass]="{'error-text': (credentialsForm.get('address').hasError(validation_messages.address['0']['type']) && (credentialsForm.get('address').dirty || credentialsForm.get('address').touched)) == true }">Dirección</ion-label>
    <ion-input [ngClass]="{'error-box': (credentialsForm.get('address').hasError(validation_messages.address['0']['type']) && (credentialsForm.get('address').dirty || credentialsForm.get('address').touched)) == true }" formControlName="address" type="text" placeholder="Dirección"></ion-input>
  </ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.address" >
    <div class="error-message" *ngIf="credentialsForm.get('address').hasError(validation.type) && (credentialsForm.get('address').dirty || credentialsForm.get('address').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked [ngClass]="{'error-text': ((credentialsForm.get('email').hasError(this.validation_messages.email['1']['type']) || (credentialsForm.get('email').hasError(validation_messages.email['0']['type']))) && (credentialsForm.get('email').dirty || credentialsForm.get('email').touched)) == true }">Correo electrónico</ion-label>
    <ion-input [ngClass]="{'error-box': ((credentialsForm.get('email').hasError(this.validation_messages.email['1']['type']) || (credentialsForm.get('email').hasError(validation_messages.email['0']['type']))) && (credentialsForm.get('email').dirty || credentialsForm.get('email').touched)) == true }" formControlName="email" type="text" placeholder="Correo electrónico"></ion-input>
  </ion-item>

<div class="validation-errors">
<ng-container *ngFor="let validation of validation_messages.email" >
  <div class="error-message" *ngIf="credentialsForm.get('email').hasError(validation.type) && (credentialsForm.get('email').dirty || credentialsForm.get('email').touched)">
{{ validation.message }}
  </div>
  <div class="error-message" *ngIf="credentialsForm.get('email').hasError(validation.pattern) && (credentialsForm.get('email').dirty || credentialsForm.get('email').touched)">
{{ validation.message }}
  </div>
</ng-container>
</div>

<ion-item>
  <ion-label stacked [ngClass]="{'error-text': ((credentialsForm.get('phone').hasError(this.validation_messages.phone['1']['type']) || (credentialsForm.get('phone').hasError(validation_messages.phone['0']['type']))) && (credentialsForm.get('phone').dirty || credentialsForm.get('phone').touched)) == true }">Teléfono fijo o celular</ion-label>
  <ion-input [ngClass]="{'error-box': ((credentialsForm.get('phone').hasError(this.validation_messages.phone['1']['type']) || (credentialsForm.get('phone').hasError(validation_messages.phone['0']['type']))) && (credentialsForm.get('phone').dirty || credentialsForm.get('phone').touched)) == true }" formControlName="phone" type="text" placeholder="Teléfono fijo o celular" maxlength="10"></ion-input>
</ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.phone" >
    <div class="error-message" *ngIf="credentialsForm.get('phone').hasError(validation.type) && (credentialsForm.get('phone').dirty || credentialsForm.get('phone').touched)">
  {{ validation.message }}
    </div>
    <div class="error-message" *ngIf="credentialsForm.get('phone').hasError(validation.pattern) && (credentialsForm.get('phone').dirty || credentialsForm.get('phone').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked [ngClass]="{'error-text': (credentialsForm.get('gender').hasError(validation_messages.gender['0']['type']) && (credentialsForm.get('gender').dirty || credentialsForm.get('gender').touched)) == true }">¿Cuál es su sexo?</ion-label>
    <ion-select okText="OK" cancelText="CANCELAR" [ngClass]="{'error-box': (credentialsForm.get('gender').hasError(validation_messages.gender['0']['type']) && (credentialsForm.get('gender').dirty || credentialsForm.get('gender').touched)) == true }" formControlName="gender" type="text" placeholder="¿Cuál es su sexo?">
      <ion-option value="Hombre">Hombre</ion-option>
      <ion-option value="Mujer">Mujer</ion-option>
      <ion-option value="Intersexual">Intersexual</ion-option>
    </ion-select>
  </ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.gender" >
    <div class="error-message" *ngIf="credentialsForm.get('gender').hasError(validation.type) && (credentialsForm.get('gender').dirty || credentialsForm.get('gender').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked [ngClass]="{'error-text': (credentialsForm.get('orientation').hasError(validation_messages.orientation['0']['type']) && (credentialsForm.get('orientation').dirty || credentialsForm.get('orientation').touched)) == true }">¿Cuál es su orientación sexual?</ion-label>
    <ion-select okText="OK" cancelText="CANCELAR" [ngClass]="{'error-box': (credentialsForm.get('orientation').hasError(validation_messages.orientation['0']['type']) && (credentialsForm.get('orientation').dirty || credentialsForm.get('orientation').touched)) == true }" formControlName="orientation" type="text" placeholder="¿Cuál es su orientación sexual?">
      <ion-option value="Homosexual">Homosexual</ion-option>
      <ion-option value="Heterosexual">Heterosexual</ion-option>
      <ion-option value="Bisexual">Bisexual</ion-option>
    </ion-select>
  </ion-item>


  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.orientation" >
    <div class="error-message" *ngIf="credentialsForm.get('orientation').hasError(validation.type) && (credentialsForm.get('orientation').dirty || credentialsForm.get('orientation').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked [ngClass]="{'error-text': (credentialsForm.get('identity').hasError(validation_messages.identity['0']['type']) && (credentialsForm.get('identity').dirty || credentialsForm.get('identity').touched)) == true }">Género con el que se identifica</ion-label>
    <ion-select okText="OK" cancelText="CANCELAR" (ionChange)="onChangeIdentity($event)" [ngClass]="{'error-box': (credentialsForm.get('identity').hasError(validation_messages.identity['0']['type']) && (credentialsForm.get('identity').dirty || credentialsForm.get('identity').touched)) == true }" formControlName="identity" type="text" placeholder="Género con el que se identifica">
      <ion-option value="Masculino">Masculino</ion-option>
      <ion-option value="Femenino">Femenino</ion-option>
      <ion-option value="Transgénero">Trangénero</ion-option>
      <ion-option value="Otro">Otro</ion-option>
    </ion-select>
  </ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.identity" >
    <div class="error-message" *ngIf="credentialsForm.get('identity').hasError(validation.type) && (credentialsForm.get('identity').dirty || credentialsForm.get('identity').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item *ngIf="identityOhter">
    <ion-label stacked [ngClass]="{'error-text': (credentialsForm.get('others').hasError(validation_messages.others['0']['type']) && (credentialsForm.get('others').dirty || credentialsForm.get('others').touched)) == true }">Otros</ion-label>
    <ion-input [ngClass]="{'error-box': (credentialsForm.get('others').hasError(validation_messages.others['0']['type']) && (credentialsForm.get('others').dirty || credentialsForm.get('others').touched)) == true }" formControlName="others" type="text" placeholder="Otros"></ion-input>
  </ion-item>

  <div class="validation-errors" *ngIf="identityOhter">
  <ng-container *ngFor="let validation of validation_messages.others" >
    <div class="error-message" *ngIf="credentialsForm.get('others').hasError(validation.type) && (credentialsForm.get('others').dirty || credentialsForm.get('others').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked [ngClass]="{'error-text': (credentialsForm.get('age').hasError(validation_messages.age['0']['type']) && (credentialsForm.get('age').dirty || credentialsForm.get('age').touched)) == true }">Fecha de nacimiento</ion-label>
    <ion-datetime doneText="ACEPTAR" cancelText="CANCELAR" [ngClass]="{'error-box': (credentialsForm.get('age').hasError(validation_messages.age['0']['type']) && (credentialsForm.get('age').dirty || credentialsForm.get('age').touched)) == true }" displayFormat="MM/DD/YYYY" formControlName="age" placeholder="Fecha de nacimiento"></ion-datetime>
    <!-- <ion-input [ngClass]="{'error-box': (credentialsForm.get('age').hasError(validation_messages.age['0']['type']) && (credentialsForm.get('age').dirty || credentialsForm.get('age').touched)) == true }" formControlName="age" type="text" placeholder="Fecha de nacimiento"></ion-input> -->
  </ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.age" >
    <div class="error-message" *ngIf="credentialsForm.get('age').hasError(validation.type) && (credentialsForm.get('age').dirty || credentialsForm.get('age').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked [ngClass]="{'error-text': (credentialsForm.get('education').hasError(validation_messages.education['0']['type']) && (credentialsForm.get('education').dirty || credentialsForm.get('education').touched)) == true }">Último nivel educativo alcanzado</ion-label>
    <ion-select okText="OK" cancelText="CANCELAR" [ngClass]="{'error-box': (credentialsForm.get('education').hasError(validation_messages.education['0']['type']) && (credentialsForm.get('education').dirty || credentialsForm.get('education').touched)) == true }" formControlName="education" type="text" placeholder="Último nivel educativo alcanzado">
      <ion-option value="Ninguno">Ninguno</ion-option>
      <ion-option value="Preescolar">Preescolar</ion-option>
      <ion-option value="Básica primaria">Básica primaria</ion-option>
      <ion-option value="Básica Secundaria">Básica Secundaria</ion-option>
      <ion-option value="Media">Media</ion-option>
      <ion-option value="Técnico">Técnico</ion-option>
      <ion-option value="Técnologo">Técnologo</ion-option>
      <ion-option value="Universitaria">Universitaria</ion-option>
      <ion-option value="Especialización">Especialización</ion-option>
      <ion-option value="Maestría">Maestría</ion-option>
      <ion-option value="Doctorado">Doctorado</ion-option>
    </ion-select>
  </ion-item>


  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.education" >
    <div class="error-message" *ngIf="credentialsForm.get('education').hasError(validation.type) && (credentialsForm.get('education').dirty || credentialsForm.get('education').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-row class="terms-condiction-section" [ngClass]="{'mb-5': !isButtonOn }">
      <ion-col col-2>
          <ion-checkbox formControlName="checkBox" (ionChange)="isCheckBoxPressed()" ></ion-checkbox>
      </ion-col>
      <ion-col col-10 class="col-text-section">
          <ion-label text-wrap class="text-box">
              Debe aceptar los <a (click)="goToTermsAndConditions()">términos y condiciones</a>para enviar el formulario. Sólo pueden participar mayores de edad.
          </ion-label>
      </ion-col>
  </ion-row>

  <ion-row *ngIf="isButtonOn">
    <ion-col text-center class="buttonData">
      <button ion-button block class="sendButton" (click)="sendData()">
        Enviar datos
      </button>
    </ion-col>
  </ion-row>

</form>


  <div class="bottomLine">

  </div>

</ion-content>

<div class="modalMax" *ngIf="modalWindow">
  <div class="innerWindow">
      <ion-icon name="ios-checkmark-circle"></ion-icon>
    <p class="title">¡Muchas gracias por ayudarnos!</p>
    <p class="text">Tus respuestas se han enviado a la Dirección de Diversidad Sexual y serán utilizados de manera confidencial y con fines estadísticos de acuerdo a la ley.</p>
    <button ion-button block class="goHomeButton" (click)="closeData()">
      volver al inicio
    </button>
  </div>
</div>
