<ion-header no-border>

  <ion-navbar mode="ios" hideBackButton>
    <ion-title text-center>censo lgbti</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="icon-fleacha-atras"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <p class="title">Datos personales</p>

  <form [formGroup]="credentialsForm">

  <ion-item>
    <ion-label stacked>Correo electrónico</ion-label>
    <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
  </ion-item>

  <div class="validation-errors">
	<ng-container *ngFor="let validation of validation_messages.email" >
		<div class="error-message" *ngIf="credentialsForm.get('email').hasError(validation.type) && (credentialsForm.get('email').dirty || credentialsForm.get('email').touched)">
	{{ validation.message }}
		</div>
	</ng-container>
</div>

  <ion-item>
    <ion-label stacked>Tipo de documento de identidad</ion-label>
    <ion-input formControlName="documentType" type="text" placeholder="Tipo de documento de identidad"></ion-input>
  </ion-item>

  <div class="validation-errors">
	<ng-container *ngFor="let validation of validation_messages.documentType" >
		<div class="error-message" *ngIf="credentialsForm.get('documentType').hasError(validation.type) && (credentialsForm.get('documentType').dirty || credentialsForm.get('documentType').touched)">
	{{ validation.message }}
		</div>
	</ng-container>
</div>

  <ion-item>
    <ion-label stacked>Número de documento</ion-label>
    <ion-input formControlName="documentNumber" type="text" placeholder="Número de documento"></ion-input>
  </ion-item>

  <div class="validation-errors">
	<ng-container *ngFor="let validation of validation_messages.documentNumber" >
		<div class="error-message" *ngIf="credentialsForm.get('documentNumber').hasError(validation.type) && (credentialsForm.get('documentNumber').dirty || credentialsForm.get('documentNumber').touched)">
	{{ validation.message }}
		</div>
	</ng-container>
</div>

  <ion-item>
    <ion-label stacked>Nombres</ion-label>
    <ion-input formControlName="firstName" type="text" placeholder="Nombres"></ion-input>
  </ion-item>

  <div class="validation-errors">
	<ng-container *ngFor="let validation of validation_messages.firstName" >
		<div class="error-message" *ngIf="credentialsForm.get('firstName').hasError(validation.type) && (credentialsForm.get('firstName').dirty || credentialsForm.get('firstName').touched)">
	{{ validation.message }}
		</div>
	</ng-container>
</div>

  <ion-item>
    <ion-label stacked>Apellidos</ion-label>
    <ion-input formControlName="lastName" type="text" placeholder="Apellidos"></ion-input>
  </ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.lastName" >
    <div class="error-message" *ngIf="credentialsForm.get('lastName').hasError(validation.type) && (credentialsForm.get('lastName').dirty || credentialsForm.get('lastName').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked>Dirección</ion-label>
    <ion-input formControlName="address" type="text" placeholder="Dirección"></ion-input>
  </ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.address" >
    <div class="error-message" *ngIf="credentialsForm.get('address').hasError(validation.type) && (credentialsForm.get('address').dirty || credentialsForm.get('address').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked>Teléfono fijo o celular</ion-label>
    <ion-input formControlName="phone" type="tel" placeholder="Teléfono fijo o celular"></ion-input>
  </ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.phone" >
    <div class="error-message" *ngIf="credentialsForm.get('phone').hasError(validation.type) && (credentialsForm.get('phone').dirty || credentialsForm.get('phone').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked>Sexo de nacimiento</ion-label>
    <ion-input formControlName="gender" type="text" placeholder="Sexo de nacimiento"></ion-input>
  </ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.gender" >
    <div class="error-message" *ngIf="credentialsForm.get('gender').hasError(validation.type) && (credentialsForm.get('gender').dirty || credentialsForm.get('gender').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked>Orientacion sexual</ion-label>
    <ion-input formControlName="orientation" type="text" placeholder="Orientacion sexual"></ion-input>
  </ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.orientation" >
    <div class="error-message" *ngIf="credentialsForm.get('orientation').hasError(validation.type) && (credentialsForm.get('orientation').dirty || credentialsForm.get('orientation').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked>Género con el que se identifica</ion-label>
    <ion-input formControlName="identity" type="text" placeholder="Género con el que se identifica"></ion-input>
  </ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.identity" >
    <div class="error-message" *ngIf="credentialsForm.get('identity').hasError(validation.type) && (credentialsForm.get('identity').dirty || credentialsForm.get('identity').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-item>
    <ion-label stacked>Edad</ion-label>
    <ion-input formControlName="age" type="number" placeholder="Edad"></ion-input>
  </ion-item>

  <div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.age" >
    <div class="error-message" *ngIf="credentialsForm.get('age').hasError(validation.type) && (credentialsForm.get('age').dirty || credentialsForm.get('age').touched)">
  {{ validation.message }}
    </div>
  </ng-container>
  </div>

  <ion-row>
    <ion-col text-center class="buttonData">
      <button ion-button block class="sendButton" (click)="sendData()">
        Enviar datos
      </button>
    </ion-col>
  </ion-row>

</form>


  <div class="bottomLine">

  </div>

</ion-content>

<div class="modalMax" *ngIf="modalWindow">
  <div class="innerWindow">
      <ion-icon name="ios-checkmark-circle"></ion-icon>
    <p class="title">¡Tu denuncia se ha enviado con éxito!</p>
    <p class="text">Muchas gracias. Denunciando nos ayudas a hacer de Bogotá un lugar mejor para todos.</p>
    <button ion-button block class="goHomeButton" (click)="closeData()">
      volver al inicio
    </button>
  </div>
</div>
