<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>701877647789-nll9fc9o48qmk6mdmktkbd0c5m0hbb6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701877647789-nll9fc9o48qmk6mdmktkbd0c5m0hbb6p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>701877647789-i0a14u59ba5pdsovki9hgam92fcgf03d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBo00oqro-6PwaVh9kTUZ14RPXavvzWL5s</string>
	<key>GCM_SENDER_ID</key>
	<string>701877647789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.lgbt.starter</string>
	<key>PROJECT_ID</key>
	<string>en-bogota-se-puede-ser</string>
	<key>STORAGE_BUCKET</key>
	<string>en-bogota-se-puede-ser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701877647789:ios:9d0dd2ec191f6360</string>
	<key>DATABASE_URL</key>
	<string>https://en-bogota-se-puede-ser.firebaseio.com</string>
</dict>
</plist>