page-derecho {
  .toolbar-title.toolbar-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.24rem;
  }

  ion-title.title.title-md, ion-title.title.title-ios{
    padding: 0 75px 1px !important;
  }

.toolbar{
  .icon{
    color: white !important;
  }
}

  ion-content,
  .scroll-content {
    padding: 0 !important;
  }

  .toolbar-background {
    background-color: #004FC6;;
  }

  .bar-button-default,
  .toolbar-title {
    color: #9BC3FF !important;
  }
  .scroll-content{
    background-color: #004FC6;;
  }

    .banner{
      background-color: #004FC6;;
      position: relative;
      height: 37%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;

      ion-icon{
        font-size: 4.4rem;
      }

      @media (max-height: 500px){
        ion-icon{
          font-size: 3rem;
        }
      }

      .bannerTitle{
        text-transform: uppercase;
        font-weight: 800;
        text-align: center;
        margin: 2% 20%;
      }

      .bannerContent{
        text-align: center;
        margin:0 10%;
        color: #9BC3FF;;
        font-size: 1.45rem;
      }
      @media (max-height: 500px){
        .bannerContent{
          font-size: 1.3rem;
        }
      }
    }

    .sections{
      position: relative;
      border-top-left-radius: 8% 8%;
      border-top-right-radius: 8% 8%;
      background-color: white;
      height: 63%;
      .section{
        height: 24.2%;
        .sectionTitle{
          margin-bottom: 1%;
          color: #363B56;
          font-weight: bold;
          font-size: 1.7rem;
        }
        @media (max-height: 500px){
            .sectionTitle{
                font-size: 1.5rem;
                margin-top: 3%;
            }
        }
        .sectionContent{
          margin-top: 2%;
          color: #727689;
        }
        @media (max-height: 500px){
            .sectionContent{
                  font-size: 1.3rem;
            }
        }
      }
      .politicaPublica, .tusDerechos, .puntosAtencion{
          display: flex;
          align-items: center;
          .icon{
            text-align: center;
            font-size: 2.8rem;
              margin-bottom: 9.5%;
              color: #363B56;
          }
          .arrow{
            justify-content: flex-start;
            display: flex;
            flex-direction: row-reverse;
              text-align: center;
              font-size: 3.8rem;
              margin-bottom: 9.5%;
              margin-left: 4%;
              color: #363B56;
              .icon{
                font-size: 3.8rem;
              }
          }
      }

    }

    .tusDerechos{
      position: relative;
    }

    .tusDerechos:after, .tusDerechos:before{
      background-color: lightgray;
      content: '';
      width: 90%;
      position: absolute;
      left: 5%;
      height: 1px;
    }

    .tusDerechos:after{
        bottom: 0px;
    }

    .tusDerechos:before{
        top: -1px;
    }

    .bottomLine{
      height: 0vh;
      width: 100%;
      position: relative;
    }

  .bottomLine:before {
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    height: 5px;
    content: '';
    bottom: -1px;
    right: 0;
    left: 0;
    position: absolute;
  }
}
