<ion-header>

  <ion-navbar mode="ios" hideBackButton>
    <ion-title text-center>CONFIGURACIÓN DEL BOTÓN</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="icon-fleacha-atras"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>

    <ion-row class="emergency-section-message">
        <ion-col col-2 class="icon">
            <ion-icon name="icon-icono-mensaje"></ion-icon>
        </ion-col>
        <ion-col col-10 class="block">
            <p class="sectionTitle">MENSAJE DE EMERGENCIA</p>
        </ion-col>
    </ion-row>

    <div class="text-area-emergency">
        <ion-item class="border-properties">
            <ion-textarea placeholder="Text Input"></ion-textarea>
        </ion-item>
    </div>

    <ion-row class="formButton">
        <button ion-button class="edit-emergency-message">Editar</button>
    </ion-row>

    <ion-row class="emergency-section-contacts">
      <ion-col col-2 class="icon">
          <ion-icon name="icon-icono-organizaciones"></ion-icon>
      </ion-col>
      <ion-col col-10 class="block">
          <p class="sectionTitle">CONTACTOS DE EMERGENCIA</p>
      </ion-col>
    </ion-row>

    <div class="contacts-section-block">
            <div>
                    <button ion-button (click)="addContact()">
                      +Add contact
                    </button>
                </div>
    
            <!-- <div *ngIf="findContacts"> -->
            <div>
              <!-- <span class="custom-icon">AL</span> -->
              <!-- <ion-list>
                <p *ngFor="let info of infoContacts" (click)="itemSelected(info)">
                  {{info.name.formatted}}
                </p>
              </ion-list> -->
    
              <ion-list class="list-block">
                  <div *ngFor="let info of proofArr; last as lastElement" (click)="itemSelected(info)">
    
                    <ion-row class="row-contacts-info">
                      <ion-col col-3 class="icon-block"> 
                          <span class="custom-icon">AL</span>
                      </ion-col>
                      <ion-col col-6 class="text-block"> 
                          <p> {{info}}</p>
                        </ion-col>
                      <ion-col col-3 class="toggle-block"> 
                          <ion-toggle color="secondary" ></ion-toggle>
                          <p class="check-text">ACTIVO</p>  
                      </ion-col>
                    </ion-row>
    
                    <div class="resize-line" *ngIf="!lastElement">
                      <div class="dividerLine"></div> 
                    </div>
    
                  </div>
              </ion-list>
            </div>
    </div>

    <ion-row class="formButton">
      <button ion-button class="edit-emergency-message" (click)="addContact()">
        <ion-col col-2 class="icon">
            <ion-icon name="icon-icono-mensaje"></ion-icon>
        </ion-col>
        <ion-col col-10 class="block">
            Añadir contacto
        </ion-col>
      </button>
    </ion-row>


    <!-- <div class="section politicaPublica">
      <ion-col col-2 class="icon">
        <ion-icon name="icon-icono-denuncia01"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p class="sectionTitle">MENSAJE DE EMERGENCIA</p>
      </ion-col>
    </div> -->

    <!-- <div class="bottomLine"></div> -->

</ion-content>
