<ion-header>

  <ion-navbar mode="ios" hideBackButton>
    <ion-title text-center>CONFIGURACIÓN DEL BOTÓN</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="icon-fleacha-atras"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content [ngStyle]="{'height': innerHeight }">
  <div class="wrapper">
    <ion-row class="emergency-section-message">
        <ion-col col-2 class="icon">
            <ion-icon name="icon-icono-mensaje"></ion-icon>
        </ion-col>
        <ion-col col-10 class="block">
            <p class="sectionTitle">MENSAJE DE EMERGENCIA</p>
        </ion-col>
    </ion-row>

    <div class="text-area-emergency">
        <ion-item class="border-properties" [ngClass]="{'border-area-color-on': !isTextOff , 'border-area-color-off': isTextOff }">
            <ion-textarea rows="6" placeholder="Escriba aqui su mensaje de emergencia" [(ngModel)]="emergencyMessage" disabled="{{isTextOff}}" maxlength="120" type="text"></ion-textarea>
        </ion-item>
    </div>

    <ion-row class="formButton" *ngIf="!isEditOn">
        <button ion-button class="edit-emergency-message" (click)="clickOnEdit()">Editar</button>
    </ion-row>

    <ion-row class="formButton" *ngIf="isEditOn">
      <ion-col col-6 class="delete-section">
          <button ion-button class="delete" (click)="clickOnDelete()">Borrar</button>
      </ion-col>
      <ion-col col-6 class="save-section">
          <button ion-button class="save" (click)="clickOnSave()">Guardar</button>
      </ion-col>
    </ion-row>

    <ion-row class="emergency-section-contacts">
      <ion-col col-2 class="icon">
          <ion-icon name="icon-icono-nosotros"></ion-icon>
      </ion-col>
      <ion-col col-10 class="block">
          <p class="sectionTitle">CONTACTOS DE EMERGENCIA</p>
      </ion-col>
    </ion-row>

    <!-- after -->
    <div class="contacts-section-block">
        <div *ngIf="findContacts">
          <ion-list class="list-block">
              <div *ngFor="let info of infoContacts; last as lastElement" (click)="itemSelected(info)">

                <ion-row class="row-contacts-info">
                  <ion-col col-2 class="icon-block">
                      <span class="custom-icon" [ngClass]="{'onToggleIcon': info.toggle , 'offToggleIcon': !info.toggle }">{{getIniNames(info.data.name.formatted, info.data.phoneNumbers[0].value)}}</span>
                  </ion-col>
                  <ion-col col-4 class="text-block" [ngClass]="{'onToggleText': info.toggle , 'offToggleText': !info.toggle }">
                      <p> {{ info.data.name.formatted ?  info.data.name.formatted : info.data.phoneNumbers[0].value }}</p>
                    </ion-col>
                  <ion-col col-3 class="toggle-block">
                      <ion-toggle color="secondary" [(ngModel)]="info.toggle" checked="info.toggle" (ionChange)="onChange(info.data.id, info.toggle)" class="toggle-move-position"></ion-toggle>
                      <p class="check-text" [ngClass]="{'onToggle': info.toggle , 'offToggle': !info.toggle }">
                          {{info.toggle ? 'ACTIVO' : 'INACTIVO' }}
                      </p>
                  </ion-col>
                  <ion-col col-3 class="delete-icon" (click)="openDeleteContactModal( info.data.id )">
                      <div class="icon-block">
                          <ion-icon name="icon-icono-eliminar"></ion-icon>
                      </div>
                      <p class="check-text-delete">ELIMINAR</p>
                  </ion-col>
                </ion-row>

                <div class="resize-line" *ngIf="!lastElement">
                  <div class="dividerLine"></div>
                </div>

              </div>
          </ion-list>
        </div>
      </div>

    <div *ngIf="numberOfActiveContacts < 3">
        <ion-row class="formButton">
            <button ion-button class="edit-emergency-message" (click)="addContact()">
              <ion-col col-2 class="icon">
                  <ion-icon name="icon-icono-anadir"></ion-icon>
              </ion-col>
              <ion-col col-10 class="block">
                  Añadir contacto
              </ion-col>
            </button>
          </ion-row>
    </div>

  </div>

  <div class="new-bottom-line"></div>
</ion-content>

<div *ngIf="isDeleteModalOn">
    <ion-backdrop showBackdrop="false" class="delete-contact-background">

      </ion-backdrop>


      <div class="delete-modal-component">
        <ion-row class="confirm-text-section">
            <p class="confirm-delete-contact">¿Estás seguro que deseas eliminar este contacto?</p>
        </ion-row>

        <ion-row class="form-button-confirm-contact">
            <ion-col col-6 class="cancel-contact-section">
                <button ion-button class="cancel" (click)="clickOnCancelDeleteContact()">CANCELAR</button>
            </ion-col>
            <ion-col col-6 class="delete-contact-section">
                <button ion-button class="delete" (click)="clickOnDeleteContact()">ELIMINAR</button>
            </ion-col>
          </ion-row>
      </div>
</div>


