<ion-header>

    <ion-navbar [class.filterDark]="emergencyButtonActivate">

        <img src="../assets/icon/logo.png">
        <p class="headerTitle">En Bogotá se puede ser</p>
        <ion-icon name="icon-menu-hamburguesa" (click)="openMenuModal()"></ion-icon>

    </ion-navbar>
    <div *ngIf="firstTime">
        <ion-backdrop *ngIf="tutorialStep < 5" class="delete-contact-background"> </ion-backdrop>
        <button *ngIf="tutorialStep!=4 && tutorialStep!=6" class="tutorial" ion-button color="light" (click)="nextStepTutorial()">Continuar</button>
    </div>

</ion-header>

<ion-content padding [class.filterBackgroundDark]="emergencyButtonActivate">


    <ion-icon name="icon-fleacha-atras" class="arrow arrowLeft" (click)="prevSlide()" [class.filterDark]="emergencyButtonActivate"></ion-icon>

    <ion-slides pager loop="true" class="articles" #slides (ionSlideDidChange)="slideChanged()" [class.filterDark]="emergencyButtonActivate" *ngIf="slidesElementes && slidesElementes.length == 3">

      <ion-slide *ngFor="let e of slidesElementes" class="article" [ngStyle]="{'background': 'linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.445897) 60%, rgba(0, 0, 0, 0.74) 80%), url(' + this.api + e.image + ')'}">
        <p class="titleText">{{e.title}}</p>
        <ion-row>
          <p class="articleDate">{{e.finish_date || e.date | date:'mediumDate':'':'es'}}</p>
          <p class="articleType">{{e.source ? "noticia" : "evento"}}</p>
        </ion-row>
      </ion-slide>

    </ion-slides>

    <ion-icon name="icon-flecha-derecha" class="arrow arrowRight" (click)="nextSlide()" [class.filterDark]="emergencyButtonActivate"></ion-icon>

    <ion-card class="newsButton" [class.filterDark]="emergencyButtonActivate" (click)="goToListado()">

        <ion-card-content>
          todos los eventos y noticias
        </ion-card-content>

    </ion-card>

    <ion-slides #slidesCards slidesPerView="3" spaceBetween="5" centeredSlides="false" class="sections" [class.filterDark]="emergencyButtonActivate">

        <ion-slide style="background-color: #F1185D" (click)="goToDenuncia()">
          <ion-icon name="icon-icono-denuncia02"></ion-icon>
          <p class="sectionText">Canales de denuncia</p>
        </ion-slide>

        <ion-slide style="background-color: #055ADA" (click)="goToDerecho()">
            <ion-icon name="icon-icono-politica"></ion-icon>
            <p class="sectionText">Así garantizamos tus derechos</p>
        </ion-slide>

        <ion-slide style="background-color: #05AE0B" (click)="goToAlianza()">
          <ion-icon name="icon-icono-alianzas"></ion-icon>
          <p class="sectionText alianza">Nuestras alianza</p>
        </ion-slide>

        <ion-slide style="background-color: #670FB9" (click)="goToOrganizacion()">
          <ion-icon name="icon-icono-nosotros"></ion-icon>
          <p class="sectionText">Organizaciones sociales</p>
        </ion-slide>

    </ion-slides>
    <ion-card class="panicButton" [class.filterBackgroundDark]="emergencyButtonActivate" [class.overlap-ion-backdrop]="tutorialStep<5 && tutorialStep>1">
        <ion-grid>
            <ion-row (click)="toggleEmergencyButton()">
                <ion-col col-3>
                    <ion-fab left middle #fab [ngStyle]="{'z-index': 99*(tutorialStep>1) }">
                        <button ion-fab color="danger" [class.low-opacity]="tutorialStep==6"  [disabled]="firstTime && tutorialStep!=4" id="principal-button"><ion-icon name="icon-campana-boton"></ion-icon></button>
                        <ion-fab-list side="top">
                            <button ion-fab (click)="goToContactPage()" [disabled]="firstTime && tutorialStep!=6"><ion-icon name="settings"></ion-icon></button>
                            <button ion-fab (click)="sendEmergencySMS()" [disabled]="firstTime" [class.low-opacity]="tutorialStep==6"><ion-icon name="mail"></ion-icon></button>
                            <button ion-fab (click)="callEmergency()" [disabled]="firstTime" [class.low-opacity]="tutorialStep==6"><ion-icon name="call"></ion-icon></button >
                            <div *ngIf="tutorialStep == 5 || tutorialStep == 6" style="width: 100%;">
                              <img src="../assets/icon/arrow.svg">
                            </div>
                        </ion-fab-list>
                    </ion-fab>
                </ion-col>

                <!--<ion-icon name="icon-campana-boton" class="campana"></ion-icon>-->

                <ion-col col-9 class="panicButtonText">
                    <ion-card-header>
                        Botón de emergencia
                    </ion-card-header>

                    <ion-card-content>
                      Llama al 123 o alerta a tus contactos en caso de sentirte en riesgo
                    </ion-card-content>

                  <div *ngIf="emergencyButtonActivate" class="ion-fab-label fab-list-active">
                    <p class="fab fab-in-list show" (click)="disable('goToContactPage',firstTime && tutorialStep!=6)" >Configuración del botón</p>
                    <p class="fab fab-in-list show" (click)="disable('sendEmergencySMS',firstTime)" [class.low-opacity]="tutorialStep==6">Enviar Mensaje</p>
                    <p class="fab fab-in-list show" (click)="disable('callEmergency',firstTime)" [class.low-opacity]="tutorialStep==6">Llamar al 123</p >
                    <div *ngIf="tutorialStep == 5">
                      <p class="tutorial-text position first">
                        <span>Al presionar el botón puedes:</span><br/><br/>
                        <b>1.</b> Llamar al 123. <br/>
                        <b>2.</b> Enviar un mensaje de texto a los contactos que desees. <br/>
                        <b>3.</b> Configurar el mensaje de emergencia y sus destinatarios
                      </p>
                    </div>
                    <div *ngIf="tutorialStep == 6">
                      <p class="tutorial-text position first">
                        <span>Ingresa a la configuración del botón</span><br/><br/>
                         Aquí puedes configurar el mensaje de emergencia que se enviará y los contactos que lo recibirán.
                      </p>
                    </div>
                  </div>
                </ion-col>

            </ion-row>
        </ion-grid>
    </ion-card>
    <div *ngIf="firstTime && tutorialStep < 5">
        <ion-backdrop class="delete-contact-background"></ion-backdrop>
        <div *ngIf="tutorialStep === 1">
            <p class="tutorial-text position first"><b>Te damos la bienvenida</b><br/><br/>En esta aplicación vas a encontrar eventos, noticias, organizaciones sociales y alianzas privadas que apoyan a personas LGBTI. También encontraras medios para denunciar cualquier tipo de discriminación <br/> !y mucho mas! </p>
        </div>
        <div *ngIf="tutorialStep === 2">
          <p class="tutorial-text position second"><b>Pero antes de continuar</b><br/><br/>Queremos mostrarte una característica muy importante de esta aplicación, el botón de emergencia.</p>
        </div>

        <div *ngIf="tutorialStep === 3 || tutorialStep === 4" class="tutorial-arrow">
          <div style="width: 20%;">
            <img class="tutorial-arrow" src="../assets/icon/arrow.svg">
          </div>
          <p *ngIf="tutorialStep === 3" class="tutorial-text tutorial-arrow"><b>éste es el botón de emergencia</b><br/><br/>Si en algún momento te encuentras en situación de riesgo. puedes usar esta opción para enviarle un mensaje predeterminado a los contactos que desees.</p>
          <p *ngIf="tutorialStep === 4" class="tutorial-text tutorial-arrow"><b>Presiona el botón</b><br/>Para mirar su funcionamiento.</p>
        </div>
    </div>
</ion-content>

<div *ngIf="messageHasBeenSend">
    <ion-backdrop showBackdrop="false" class="delete-contact-background">

      </ion-backdrop>

      <div class="delete-modal-component">
          <div class="picture-image-block">
              <img class="picture-resize" src="../assets/icon/group2.svg">
          </div>

          <ion-row class="confirm-text-section">
              <p class="confirm-delete-contact">El mensaje de emergencia ha sido enviado a tus contactos.</p>
          </ion-row>

          <ion-row class="form-button-confirm-contact">
              <ion-col col-12 class="cancel-contact-section">
                  <button ion-button class="cancel" (click)="closeSendEmergencyMessage()" >CONTINUAR</button>
              </ion-col>
          </ion-row>
      </div>
</div>

<!--  -->
<div *ngIf="hasPressedSendMessage && ( !emergencyMessage ||  checkContactsAvailable() )">
  <ion-backdrop showBackdrop="false" class="delete-contact-background">

    </ion-backdrop>

    <div class="delete-modal-component-alert">
        <div class="picture-image-block">
            <img class="picture-resize" src="../assets/icon/Vector.svg">
        </div>

        <ion-row class="confirm-text-section">
            <div class="box-title">
              <p class="confirm-title-delete-contact"> ¡Tu mensaje no ha podido ser enviado!</p>
            </div>
            <div class="box-delete-contact">
              <p class="confirm-delete-contact-new">Para enviarlo, configura primero un mensaje y los contactos de emergencia.</p>
            </div>
        </ion-row>

        <ion-row class="form-button-confirm-contact">
          <ion-col col-12 class="cancel-contact-section">
              <button ion-button class="cancel" (click)="closeSendEmergencyMessage()" >VOLVER</button>
          </ion-col>
      </ion-row>
    </div>
</div>

<div *ngIf="hasPressedSendMessage && emergencyMessage && !checkContactsAvailable()">
  <ion-backdrop showBackdrop="false" class="delete-contact-background">

    </ion-backdrop>

    <div class="delete-modal-component-new">
        <div class="picture-image-block">
            <img class="picture-resize" src="../assets/icon/group2.svg">
        </div>

        <ion-row class="confirm-text-section">
            <p class="confirm-delete-contact-new">Se está enviando el mensaje de emergencia.</p>
        </ion-row>
    </div>
</div>
