page-content-detail {

  #map_canvas {
    height: 50vh;
    width: 100%;
  }

  .bottomLine{
    height: 2vh;
    width: 100%;
    position: relative;
  }

.bottomLine:before {
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  height: 3px;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

  .toolbar-title.toolbar-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.24rem;
  }

  ion-content,
  .scroll-content {
    padding: 0 !important;
  }

  .toolbar-background {
    background-color: #ff5c0b;
  }

  .bar-button-default,
  .toolbar-title {
    color: white !important;
  }

  .scroll-content {
    img {
      width: 100%;
    }
  }

  .articleText{
    padding: 1% 10% 0% 10%;

    .newsDate {
        font-weight: 600;
        font-size: 1.4rem;
        color: #9e9e9e;
        padding-left: 0;
        p{
          margin: 0;
        }
    }

    .newsHeader{
      display: flex;
      justify-content: flex-start;
      text-align: left;
      position: relative;
    }

    .newsHeader:before {
      background-color: #E3E3E3;
      content: '';
      width: 110%;
      bottom: 0px;
      position: absolute;
      left: -5%;
      height: 1px;
         }

    .shareLabel{
    margin-right: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      margin: 0;
      font-size: 1.4rem;
      font-weight: 600;
    }
    ion-icon{
      font-size: 1.8rem;
      margin-right: 10px;
    }
}

    .titleArticle{
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 800;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }

    .sourceArticle, .sourcePicture{
      margin: 0.6vh 0;
      font-weight: 600;
      font-size: 1.4rem;
      color: #6D6F76;
      span{
        color: #FF5C0B;
      }
    }

    .textArticle{
      color: #6D6F76;
      line-height: 3.9vh;
      position: relative;
      padding-bottom: 1%;
      font-size: 1.4rem;
    }

  }



  .articleText:before {
    background-color: #E3E3E3;
    content: '';
    width: 90%;
    bottom: 0px;
    position: absolute;
    left: 5%;
    height: 1px;
       }

  .info{
        padding: 4% 0%;
        position: relative;
        ion-icon {
          color: rgba(149, 154, 180, 0.5);
          font-size: 2.6rem;
        }
    }


  .info:before {
    background-color: #E3E3E3;
    content: '';
    width: 110%;
    top: 0px;
    position: absolute;
    left: -5%;
    height: 1px;
       }

   .info:after {
       background-color: #E3E3E3;
       content: '';
       width: 110%;
       bottom: 0px;
       position: absolute;
       left: -5%;
       height: 1px;
    }

   .iconDate, .iconPlace {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .contentDate, .placeInfo{
      margin-left: 5%;
      p{
        color: rgba(54, 59, 86, 0.8);
        margin: 0.5vh 1vh;
        font-weight: bold;
        font-size: 1.4rem;
      }
    }

    .contentDate .durationEvent, .placeContent .placeName{
        color: black;
      }


    .link{
          padding: 5% 10% 5% 10%;
          color: #6D6F76;
          line-height: 3.9vh;
          font-size: 1.4rem;
          p{
            margin: 0;
          }
          a{
              color: #FF5C0B;
              text-decoration: none;
          }
    }

}
