<!--
  Generated template for the ContentDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar mode="ios" hideBackButton>
    <ion-title text-center>{{title}}</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="icon-fleacha-atras"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <div class="article">

    <img [src]="api + params.image">

    <ion-row class="articleContent">

      <ion-col class="articleText">
        <ion-fab top right edge class="shareFab">
          <button class="shareButton" ion-fab mini (click)="share(params)">
            <ion-icon name="icon-icono-compartir"></ion-icon>
          </button>
        </ion-fab>
        <ion-row *ngIf="typeContent==='noticia'" class="newsHeader">
          <ion-col class="newsDate">
            <p>{{params.date | date: 'longDate':'':'es'}}</p>
          </ion-col>
        </ion-row>


        <p class="titleArticle">{{params.title}}</p>

        <div *ngIf="typeContent==='evento'" class="info">

          <ion-row class="timeContent">
            <ion-col col-1 class="iconDate">
              <ion-icon name="icon-icono-hora"></ion-icon>
            </ion-col>
            <ion-col col-10 class="contentDate">
              <p class="durationEvent">Del {{params.start_date | date: 'd MMMM':'':'es'}} al {{params.finish_date | date: 'longDate':'':'es'}}</p>
              <p class="timeEvent">{{params.start_time}} - {{params.finish_time}}<p>
            </ion-col>
          </ion-row>

          <ion-row class="placeContent">
            <ion-col col-1 class="iconPlace">
              <ion-icon name="icon-icono-ubicacion"></ion-icon>
            </ion-col>
            <ion-col col-10 class="placeInfo" (click)="goToMaps()">
              <p class="placeName">{{params.place}}</p>
              <p class="placeAddress">{{params.address}}</p>
              <p><a class="placeLocation" >Ver ubicación</a></p>
            </ion-col>
          </ion-row>
        </div>

        <p *ngIf="typeContent==='noticia'" class="sourceArticle">Fuente del artículo: <span>{{params.source}}</span></p>

        <p *ngIf="typeContent==='noticia'" class="sourcePicture">Foto: {{params.image_owner}}</p>

        <p class="textArticle">{{params.description}}<p>

      </ion-col>

    </ion-row>

  </div>

  <div *ngIf="typeContent == 'noticia'" class="link">

      <p>Para ver la noticia completa</p>
      <p>haz clic en el <a (click)="goToLink()">siguiente enlace</a><p>

  </div>

  <div class="bottomLine">

  </div>
</ion-content>
