/*
    Created on : 27/09/2017, 10:04:32 AM
*/

@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icons/icomoon.eot?fa2f04');
    src:  url('../assets/fonts/icons/icomoon.eot?fa2f04#iefix') format('embedded-opentype'),
        url('../assets/fonts/icons/icomoon.ttf?fa2f04') format('truetype'),
        url('../assets/fonts/icons/icomoon.woff?fa2f04') format('woff'),
        url('../assets/fonts/icons/icomoon.svg?fa2f04#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
    .cmpr-#{$arg}:before ,
    .ion-#{$arg}:before ,
    .ion-ios-#{$arg}:before ,
    .ion-ios-#{$arg}-outline:before ,
    .ion-md-#{$arg}:before ,
    .ion-md-#{$arg}-outline:before {
        content: $val;
    }
}

@include makeIcon(cmpr-tree, '\71');
@include makeIcon(cmpr-house, '\62');
@include makeIcon(cmpr-qr, '\6C');
@include makeIcon(cmpr-map, '\68');
@include makeIcon(cmpr-calendar, '\72');
@include makeIcon(cmpr-camera, '\74');
@include makeIcon(cmpr-spanish-alt, '\69');
@include makeIcon(cmpr-hour, '\70');
@include makeIcon(cmpr-english-alt, '\70');
@include makeIcon(cmpr-sign-language-alt, '\73');
@include makeIcon(cmpr-sign-language, '\64');
@include makeIcon(cmpr-slide-back, '\78');
@include makeIcon(cmpr-slide-forward, '\7A');
@include makeIcon(cmpr-phone, '\76');
@include makeIcon(cmpr-back, '\77');
@include makeIcon(cmpr-menu, '\6B');
@include makeIcon(cmpr-location, '\67');
@include makeIcon(cmpr-list, '\66');
@include makeIcon(cmpr-hammer, '\6A');
@include makeIcon(cmpr-contact, '\75');
@include makeIcon(cmpr-help, '\65');
@include makeIcon(cmpr-info, '\63');
@include makeIcon(cmpr-arrow-down, '\6F');
@include makeIcon(cmpr-logo, '\6E');
