// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/untitled-font-1";

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito/Nunito-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-style: bold;
  src: url('../assets/fonts/Nunito/Nunito-Bold.ttf') format('ttf');

}

@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  font-style: extra-bold;
  src: url('../assets/fonts/Nunito/Nunito-ExtraBold.ttf') format('ttf');

}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito/Nunito-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: boldest;
}

* {
  font-family: 'Nunito';
}


  ion-modal {

    ion-content.content{
      padding: 2% !important;
    }

    .scroll-content {
        padding: 2% !important;
        overflow-y: hidden;
    }

      pointer-events: none;
      ion-backdrop {
        visibility: visible;
          pointer-events: auto;
          &.backdrop-hide {
              opacity: 0 !important;
              pointer-events: none;
              cursor: auto;
          }
      }
      .modal-wrapper {
          pointer-events: auto;
          position: absolute;
          opacity: 1;
          transform: translateY(0px);
          right: 5%;
          top: 2%;
          width: 70%;
          height: 17%;
          max-height: 114px;
      }
      @media (max-height: 500px) {
        .modal-wrapper {
            height: 20%;
          }
        }
  }
