page-quienes-somos {

  .bottomLine{
    height: 2vh;
    width: 100%;
    position: relative;
    bottom: 0;
  }

.bottomLine:before {
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  height: 3px;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.toolbar{
  .icon{
    color: white !important;
  }
}

  .toolbar-title.toolbar-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.24rem;
  }

  ion-content,
  .scroll-content {
    padding: 0 !important;
  }

  .toolbar-background {
    background-color: #1E1A42;
  }


  .bar-button-default,
  .toolbar-title {
    color: rgba(255, 255, 255, 0.6) !important;
  }

  .scroll-content {
    img {
      width: 100%;
      height: auto;
    }
  }

  .direccionText, .direccionObjetivo, .direccionContacto, .social{
   padding: 3% 7%;
   position: relative;
  }

  .direccionContent .title{
    color: #1E1A42;
    font-weight: bold;
    line-height: 4vh;
    font-size: 1.7rem;
  }

  .direccionContent .title{
    line-height: 3vh;
    padding-right: 10%;
  }

  .direccionText:before, .direccionObjetivo:before {
    background-color: lightgray;
      content: '';
      width: 90%;
      position: absolute;
      left: 5%;
      height: 1px;
      bottom: 0px;
  }

  .direccionContacto{
    padding-bottom: 0;
    padding-top: 6%;
  }

  .direccionContacto>p:nth-child(odd){
    color: #1E1A42;
    font-weight: bold;
    margin-top: 0;
  }

  .direccionContacto>p:nth-child(even){
    margin-bottom: 0;
  }


  .social{
    padding-top: 0;
    padding-bottom: 0;
  }

  .social ion-icon{
        font-size: 3.2rem;
        padding-right: 3%;
  }
  a{
    text-decoration: none;
    color: #2C347E;
  }

}
