<ion-header>

  <ion-navbar mode="ios" hideBackButton>
    <ion-title text-center>Política pública LGBTI</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
        <ion-icon name="icon-fleacha-atras"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <div class="banner">
      <p class="bannerTitle">Salud</p>
      <p class="bannerContent">Aquí podrás encontrar acceso a servivios en Salud de acuerdo a tus situaciones y condiciones.</p>
  </div>



    <ion-list class="accordion-list">

        <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>

          <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon item-right name="ios-arrow-down" *ngIf="!item.open"></ion-icon>
            <ion-icon item-right name="ios-arrow-up" *ngIf="item.open"></ion-icon>
              <p>{{ item.name }}</p>
          </button>

          <ion-list *ngIf="item.children && item.open" no-lines>

            <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>

                <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
                  <h2>{{ child.information }}</h2>
                  <p class="title">{{ child.description }}</p>
                  <p *ngIf="child.address">Dirección: </p>
                  <p *ngIf="child.address">{{ child.address}}</p>
                  <p *ngIf="child.description2" class="title">{{ child.description2 }}</p>
                  <p *ngIf="child.address2" class="bold">Dirección: </p>
                  <p *ngIf="child.address2">{{ child.address2 }}</p>
                  <p *ngIf="child.description3" class="title">{{ child.description3 }}</p>
                  <p *ngIf="child.address3">Dirección: </p>
                  <p *ngIf="child.address3">{{ child.address3 }}</p>
                  <p *ngIf="child.description4" class="title">{{ child.description4 }}</p>
                  <p *ngIf="child.address4">Dirección: </p>
                  <p *ngIf="child.address4">{{ child.address4 }}</p>
                  <p *ngIf="child.webText" class="title">{{ child.webText }} </p>
                  <p *ngIf="child.web">{{ child.web }}</p>
                </ion-item>

            </ion-list-header>

        </ion-list>



    </ion-list-header>

    <div class="bottomLine">

    </div>

  </ion-list>





</ion-content>
